In [6]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [47]:
titanic = pd.read_csv("nlp-getting-started/train.csv")
titanic.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [69]:
titanic_features = titanic.iloc[:,-2:]
titanic_features
# titanic_labels = titanic_features.pop('target')

                                                   text  target
0     Our Deeds are the Reason of this #earthquake M...       1
1                Forest fire near La Ronge Sask. Canada       1
2     All residents asked to 'shelter in place' are ...       1
3     13,000 people receive #wildfires evacuation or...       1
4     Just got sent this photo from Ruby #Alaska as ...       1
...                                                 ...     ...
7608  Two giant cranes holding a bridge collapse int...       1
7609  @aria_ahrary @TheTawniest The out of control w...       1
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  Police investigating after an e-bike collided ...       1
7612  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 2 columns]

In [70]:
titanic_features_dict = {name: np.array(value)
                         for name, value in titanic_features.items()}

In [71]:
titanic_features_dict
# for key in titanic_features_dict.keys():
#     print(key)

{'text': array(['Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all',
        'Forest fire near La Ronge Sask. Canada',
        "All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected",
        ...,
        'M1.94 [01:04 UTC]?5km S of Volcano Hawaii. http://t.co/zDtoyd8EbJ',
        'Police investigating after an e-bike collided with a car in Little Portugal. E-bike rider suffered serious non-life threatening injuries.',
        'The Latest: More Homes Razed by Northern California Wildfire - ABC News http://t.co/YmY4rSkQ3d'],
       dtype=object),
 'target': array([1, 1, 1, ..., 1, 1, 1])}

In [72]:
features_ds = tf.data.Dataset.from_tensor_slices(titanic_features_dict)

In [73]:
for example in features_ds:
  for name, value in example.items():
    print(f"{name:19s}: {value}")
  break

text               : b'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'
target             : 1

In [46]:
for names, values in features_ds:
    print(f"{names.name:19s}: {values.shape}")
break;

ValueError: too many values to unpack (expected 2)